body {
    color: white;
    margin: 20px 40px;
    background: linear-gradient(to bottom, #82d78b, #4ca2cd);
}

.head_p {
    font-size: 20px;
}

dt {
    font-size: 20px;
    padding-left: 10px;
    background: #50b3df;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0 30px 80px 10px rgba(0, 0, 0, .2);
}

.info_box {
    background-color: #3D7D94;
    box-shadow: 0 30px 80px 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.challenge_text {
    box-shadow: 0 30px 80px 10px rgba(0, 0, 0, .2);
    font-size: 20px;
    font-weight: 100;
    background-color: #80d790;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.challenge_text dd {
    margin-bottom: 4px;
}
.challenge_text p {
    margin-left: 55px;
    margin-right: 5px;

}

