body {
    color: white;
    margin: 20px 40px;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
}

dt {
    font-size: 20px;
    color: #222222;
    padding-left: 10px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
}

.info_box {
    background-color: #da5455;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.challenge_text {
    font-size: 20px;
    font-weight: 100;
    background-color: #3cc750;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.challenge_text dd {
    margin-bottom: 4px;
}
.challenge_text p {
    margin-left: 55px;
    margin-right: 5px;

}

